{{#if isLoader}}
{{loading-component}}
{{/if}}
{{#authentication-layout}}
<div class="form-content">
<form {{action "onSubmit" on="submit"}}>

<h1><i class="fa-solid fa-right-to-bracket"></i> Sign in</h1>

    {{#unless isEmailValid}}
        {{input class=(if emailError "error")  type="email" value = email placeholder = " Enter Email" input=(action "clearEmailError")  required=true focus-out=(action 'checkEmail')}} <br>
        <p>{{emailError}}</p>

        <button {{action "next"}}><i class="fa-solid fa-forward"></i>  Next </button>
     {{/unless}} 

     {{#if isEmailValid}}
        <div class="password-container">
                {{input class=(if passwordError "error") type=(if showPassword "text" "password") input=(action "clearPasswordError") value=password placeholder="Enter Password" required=true}} 
        
                <span class="eye-icon" {{action "togglePasswordVisibility"}}>
                {{#if showPassword}}
                <i class="fa-solid fa-eye"></i> 
                {{else}}
                <i class="fa-solid fa-eye-slash"></i>
                {{/if}}</span>
        </div> <br>
       <p>{{passwordError}}</p>
<div class="submit-buttons"> 

        <button type="button" {{action "back"}}><i class="fa-solid fa-backward"></i> Back </button> 
        <button type="submit"><i class="fa-solid fa-right-to-bracket"></i>  Sign In</button> 

</div>


     {{/if}}


</form>
</div>
<div class="buttons">
     {{#link-to "signup"}}    <button> Sign up </button> {{/link-to}}
    {{#link-to "changepassword"}}    <button> Change Password </button> {{/link-to}}
</div>

{{/authentication-layout}}